[Unit]
Description=Netdebug Webserver
After=network.target
StartLimitIntervalSec=0
[Service]
Type=simple
Restart=always
RestartSec=1
User=root
WorkingDirectory=/home/deploy
# NOTE the 'current' symlink needs to point to the current best version
ExecStart=/home/deploy/latest/current/release/webserver --production --listen-port 443
StandardOutput=journal
StandardError=journal
SyslogIdentifier=netdebug-webserver

[Install]
WantedBy=multi-user.target
